{
  "env": {
      "browser": true,
      "node": true,
      "mocha": true,
      "es6": true
  },
  "extends": "prettier",
  "parserOptions": {
      "ecmaVersion": 2015
  },
  "plugins": ["prettier"],
  "rules": {
      "no-var": "error",
      "prefer-const": ["error", {
          "destructuring": "any",
          "ignoreReadBeforeAssign": false
      }],
      "prettier/prettier": "error"
  }
}
