{
  "env": {
    "browser": true,
    "node": true,
    "mocha": true,
    "es6": true
  },
  "extends": "eslint:recommended",
  "rules": {
    "no-console": [2],
    "no-loop-func": [2],
    "no-mixed-spaces-and-tabs": [2, "smart-tabs"],
    "no-multiple-empty-lines": [2, { "max": 1 }],
    "no-process-exit": [0],
    "no-shadow": [1],
    "no-var": [2],
    "camelcase": [2, { "properties": "always" }],
    "comma-dangle": [0],
    "consistent-this": [2, "self"],
    "indent": [2, "tab", {"SwitchCase": 1}],
    "linebreak-style": [2, "unix"],
    "new-cap": [2],
    "prefer-const": [2],
    "quotes": [2, "single", "avoid-escape"],
    "semi": 2,
    "space-after-keywords": [2]
  }
}
