{
  "env": {
    "browser": true,
    "node": true,
    "mocha": true,
    "es6": true
  },
  "extends": "eslint:recommended",
  "rules": {
    "quotes": [2, "single", "avoid-escape"],
    "indent": [2, "tab"],
    "no-mixed-spaces-and-tabs": [2, "smart-tabs"],
    "linebreak-style": [2, "unix"],
    "no-multiple-empty-lines": [2, { "max": 1 }],
    "consistent-this": [1, "self"],
    "no-underscore-dangle": [0],
    "space-after-keywords": [2],
    "no-shadow": [0],
    "dot-notation": [0],
    "eqeqeq": [2],
    "no-process-exit": [0],
    "no-extra-boolean-cast": [0],
    "no-loop-func": [1],
    "new-cap": [1],
    "comma-dangle": [1]
  }
}
